* {
  margin: 0;
  padding: 0;
}
.common-section {
  margin: 50px 292px;
}
/* fast banner style */
.main-header {
  background-image: url(./images/Banner\ Image.png);

  background-repeat: no-repeat;
  align-items: center;
  border-radius: 16px;
  padding: 182px 1px;
}
.main-title {
  color: #ffffff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;

  font-weight: 400;
}
.top-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
/* offer style */
.offer-section {
  margin: 80px 301px;
  padding: 78px 247px;
  text-align: center;
}
.offer-text {
  margin: 20px auto 48px;
}
.offer {
  color: #f00;

  font-family: Inter;
  font-size: 88px;

  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 48px;
}
.offer-dels {
  color: #f00;

  font-family: Inter;
  font-size: 20px;

  font-weight: 500;
}
.offer-categories {
  color: #070211;

  font-family: Inter;
  font-size: 48px;

  font-weight: 700;
}
.welcome-section {
  background-image: url(./images/Vectorrr.png);
  background-repeat: no-repeat;
  padding: 182px 1px;
  margin: 50px 292px;
  display: flex;
}
.img-2024 {
  margin-top: -130px;
  padding-right: 22px;
}
.welcome {
  padding: 8px 132px;
}
.prty {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;

  font-weight: 900;

  letter-spacing: 7.04px;
}
.prty-discription {
  color: rgba(186, 186, 186, 0.8);
  font-family: Inter;
  font-size: 18px;

  font-weight: 400;
  margin: 26px auto 40px;
}
.Join {
  background: none;
  color: #fff;

  font-family: Inter;
  font-size: 20px;

  font-weight: 700;
  border: none;
  margin-left: 52px;
  cursor: pointer;
  width: 103px;
  height: 24px;
}
.Join:hover {
  background-color: #ff0d0d;
  border-radius: 100px;
}
.time-section {
  margin: 50px 292px;
  padding: 100px 1px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  text-align: center;
  line-height: 1.8;
}
.date-time-place {
  color: #070211;

  font-size: 32px;
  font-family: Inter;

  font-weight: 600;
}
.red-color {
  color: #f00;
}
.btn-1 {
  color: #fff;

  font-family: Inter;
  font-size: 20px;

  font-weight: 700;

  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  border: none;
  margin-top: 48px;
  cursor: pointer;
}
.btn-1:hover {
  background-color: #070211;
}
.celebrate-section {
  display: flex;
  margin: 50px 292px;
  padding: 100px 1px;
  background: #fff;
  align-items: center;
  line-height: 1.8;
}
.celebrate-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;

  font-weight: 400;
  margin: 16px auto 26px auto;
}
.best-offer {
  color: #f00;

  font-family: Inter;
  font-size: 24px;

  font-weight: 500;
  margin-top: 20px;
}
.soon {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;

  font-weight: 900;
}
.celebrate-year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;

  font-weight: 700;
}
.celebrate {
  width: 364px;
  height: 364px;
}
.broder-color {
  border: 15px solid #f00;
  border-radius: 500px;
  margin-right: 188px;
  padding: 10px;
}
.Holidays {
  margin: 50px 292px;
  padding: 100px 1px;
  text-align: center;
  background-color: #fff;
}
.sale-50 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
}
.holidays-discription {
  color: rgba(7, 2, 17, 0.6);

  font-family: Inter;
  font-size: 20px;

  font-weight: 500;
  margin: auto 215px;
  margin-top: 20px;
}
.holidays-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;

  font-weight: 500;
  line-height: 2.5;
}
.holidays-images {
  margin-top: 50px;
  margin-right: 100px;
}
.girl {
  background-image: url(./images/Rectangle\ 1.png);
  width: 429px;
  height: 433px;
  display: flex;
  margin-left: 788px;
}
.discount {
  margin: 40px;
  margin-left: -185px;
  margin-top: 68px;
}
.holiday-color {
  background-image: url(./images/Rectangle\ 2.png);
  background-repeat: no-repeat;

  display: flex;
  height: 200px;
  border-radius: 0 0 16px 16px;
}
.git-box {
  margin-top: -305px;

  height: 448px;
  width: 443px;
  padding: 10px;
}
.produts-section {
  margin: 50px 292px;
  padding: 100px 1px;
  line-height: 1.6;
}
.produts-item {
  margin: 5px;
}
.produts-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;

  font-weight: 500;
}
.produts-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;

  font-weight: 900;
}
.produts-discription {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;

  font-weight: 400;

  width: 896px;
}
.produts {
  margin-top: 48px;
}
.Subscribe-section {
  margin: 50px 292px;
  padding: 100px 1px;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-email {
  display: flex;
  justify-content: center;
}
input[type="email"] {
  width: 500px;
  height: 72px;
  border: none;
  border-radius: 32px 0px 0px 32px;
  padding-left: 30px;
}
input[type="button"] {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;

  font-family: Inter;
  font-size: 20px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #070211;
}
.subscribe-title {
  color: #070211;

  font-family: Merriweather;
  font-size: 48px;

  font-weight: 900;
  margin-top: 40px;
}
.subscribe-discription {
  color: rgba(7, 2, 17, 0.6);
  justify-content: center;
  font-family: Inter;
  font-size: 20px;
  width: 896px;
  font-weight: 400;
  margin-left: 236px;
  margin: 22px auto 48px;
}
/* footer style */

footer {
  background: #070211;
}
.footer {
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  width: 375px;
  height: 34px;
}
.footer-info-1 {
  display: flex;
  justify-content: space-between;
}
.icon-1 {
  margin-left: -35px;
  margin-bottom: -34px;
}
.footer-contant {
  align-items: center;

  margin-bottom: 50px;
}
.fot-info-1 {
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  line-height: 40px;
  width: 385px;
  height: 7px;
  padding-top: 51px;
  padding-left: 46px;
}
.sociel-icon {
  text-align: center;
  padding: 48px;
}
.sociel-icon > img {
  padding-left: 24px;
}
.line {
  padding-left: 100px;
  padding-right: 100px;
}
.low-footer {
  color: white;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  padding: 60px;
}
